---
import { Icon } from 'astro-icon/components';
import { getPermalink } from '~/utils/permalinks';
import Button from '~/components/ui/Button.astro';
import { I18N } from 'astrowind:config';

export interface Props {
  prevUrl?: string;
  nextUrl?: string;
  prevText?: string;
  nextText?: string;
}

const { prevUrl, nextUrl, prevText = 'المنشورات اللاحقة', nextText = 'المنشورات السابقة' } = Astro.props;
const isLTR = I18N.textDirection === 'ltr';
---

{
  (prevUrl || nextUrl) && (
    <div class="container flex">
      <div class={`flex ${isLTR ? 'flex-row' : 'flex-row-reverse'} mx-auto container justify-between`}>
        <Button
          variant="tertiary"
          class={`md:px-3 px-3 mr-2 ${!prevUrl ? 'invisible' : ''}`}
          href={getPermalink(prevUrl)}
        >
          <p class="ml-2">{prevText}</p>
          <Icon name="tabler:chevron-left" class="w-6 h-6" />
        </Button>

        <Button variant="tertiary" class={`md:px-3 px-3 ${!nextUrl ? 'invisible' : ''}`} href={getPermalink(nextUrl)}>
          <Icon name="tabler:chevron-right" class="w-6 h-6" />
          <span class="mr-2">{nextText}</span>
        </Button>
      </div>
    </div>
  )
}
